
<form method="POST" action="">

  <div class="mt-4">
    {{!-- <form method="POST" action=""> --}}
    <label for="search-input" class="form-label">Từ khoá</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá">
    <select name="render" class="form-control" id="render-input" >

<option value="">Chon gioi tinh</option>
<option value="male">Nam</option>
<option value="female">Nu</option>

    </select>
  
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  {{!-- </form> --}}
</form>